[Unit]
Description=check mail
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/home/perezcri/.dotfiles/checkmail.sh
ExecStartPost=/usr/bin/notmuch new
