[Unit]
Description=check mail
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=%h/.dotfiles/checkmail.sh
ExecStartPost=/usr/bin/notmuch new
