[Unit]
Description=Grafana service

[Service]
ExecStart=/usr/bin/grafana-server --config "/home/arch/.config/grafana/grafana.ini" --homepath "/usr/share/grafana"
ExecStop=/usr/bin/pkill grafana-server

[Install]
WantedBy=default.target
