[Unit]
Description=MPCParty
After=mpd.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/node %h/Documents/node/MPCParty/server.js

[Install]
WantedBy=default.target
