[Unit]
Description=MPD Notification
After=mpd.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/mpd-notification -m /home/arch/Music_clean/ -s 100 -t 4
RestartSec=30
ExecStop=/usr/bin/pkill mpd-notification

[Install]
WantedBy=default.target
