! Enable the extended coloring options
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: #282828, #a89984, #a89984
!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #282828, #ebdbb2, #32302f, #665c54, #fbf1c7
rofi.color-active: #d79921, #282828, #d79921, #fabd2f, #282828
rofi.color-urgent: #cc241d, #282828, #cc241d, #fb4934, #282828

rofi.separator-style: solid
rofi.sidebar-mode: true
rofi.bw: 1
rofi.columns: 1
rofi.padding: 16

rofi.yoffset: 0
rofi.fake-transparency: false
rofi.location: 0
rofi.width: 50
rofi.font: Hasklig 12
rofi.lines: 15
rofi.fixed-num-lines: true

xscreensaver.splash: false
xscreensaver.Dialog.foreground: #ebdbb2
xscreensaver.Dialog.background: #282828
xscreensaver.Dialog.topShadowColor: #0a0a0a
xscreensaver.Dialog.bottomShadowColor: #161616
xscreensaver.Dialog.Button.foreground: #ebdbb2
xscreensaver.Dialog.Button.background: #282828
xscreensaver.Dialog.borderWidth: 0
xscreensaver.Dialog.internalBorderWidth: 0
xscreensaver.passwd.thermometer.background: #282828
xscreensaver.passwd.thermometer.foreground: #fbf1c7
xscreensaver.passwd.thermometer.width: 8
